<#@ template hostspecific="true" language="C#" #>
<#@ output extension=".html" #>
<#
    // Get build configuration from MSBuild parameter (set during build)
    // Default to Debug for design-time/manual runs
    var config = Host.ResolveParameterValue("-", "-", "BuildConfiguration");
    if (string.IsNullOrWhiteSpace(config))
    {
        config = "Debug";
    }
#>
<#@ include file="app.tt.html" #>
