<#@ template hostspecific="true" language="C#" #>
<#@ output extension=".html" #>
<#
    // Always use Debug mode to load individual source files
    // BuildWebCompiler (which generates minified bundles) doesn't work in Rider
    var config = "Debug";
#>
<#@ include file="app.tt.html" #>
